body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Press Start 2P", cursive;
  background-color: #b3d1cd;
}

main {
  flex-grow: 1;
}

.code {
  font-family: "Press Start 2P", cursive;
  background-color: #111d11;
  color: #66ff66;
}

.code-back {
  background-color: #66ff66;
}

.code-text {
  color: #111d11 !important;
}

.modern {
  font-family: "Amatic SC", cursive;
}

.retro {
  font-family: "Press Start 2P", cursive;
  font-style: italic;
}

.square {
  border-radius: 0 !important;
}

.rounded {
  border-radius: 10px !important;
}

img.rounded {
  border-radius: 20px !important;
}

.underline {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}

.transition-plus {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
}

.hidden {
  display: none;
}

.disable {
  opacity: 50%;
}

.no-select {
  user-select: none;
}

.text-shadow {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.app-icon {
  cursor: pointer;
  color: var(--primary);
  transition: all 0.3s ease-in-out;
}

.box-shadow {
  box-shadow: 7.5px 7.5px 15px var(--dark);
  -moz-box-shadow: 7.5px 7.5px 15px var(--dark);
  -webkit-box-shadow: 7.5px 7.5px 15px var(--dark);
  -o-box-shadow: 7.5px 7.5px 15px var(--dark);
}

.box-shadow:hover .app-icon {
  color: var(--info);
}

.skip {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
}

.star {
  position: absolute;
  top: 3px;
  left: 5px;
  color: var(--warning);
}

.resume {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  color: var(--primary);
  transition: all 0.3s ease-in-out;
  font-size: 3.5rem;
  z-index: 10;
}

.resume:hover {
  color: var(--info);
}

.thumb {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  color: var(--info);
  transition: all 0.3s ease-in-out;
  z-index: 10;
}

.git {
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
  color: var(--info);
  transition: all 0.3s ease-in-out;
  z-index: 10;
}

.git-mobile {
  position: absolute;
  top: 15px;
  right: 60px;
  cursor: pointer;
  color: var(--info);
  transition: all 0.3s ease-in-out;
  z-index: 10;
}

.thumb:hover {
  color: var(--warning);
}
.git:hover {
  color: var(--warning);
}
.git-mobile:hover {
  color: var(--warning);
}

.img-thumb {
  z-index: 8;
}

.icon {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  color: var(--primary);
  transition: all 0.3s ease-in-out;
  font-size: 3rem;
}

.card:hover {
  cursor: pointer;
}

.card:hover .icon {
  color: var(--info);
}

.contact {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.img-card {
  object-fit: cover;
  height: 25rem;
  width: 25rem;
}

.show {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.hide {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.no-click {
  pointer-events: none;
}

@media (min-width: 0) {
  .font-xxxs {
    font-size: 0.5rem;
  }
  .font-xxs {
    font-size: 0.75rem;
  }
  .font-xs {
    font-size: 1rem;
  }
  .font-sm {
    font-size: 1.25rem;
  }
  .font-md {
    font-size: 1.5rem;
  }
  .font-lg {
    font-size: 1.75rem;
  }
  .font-xl {
    font-size: 1.75rem;
  }
  .font-xxl {
    font-size: 2.5rem;
  }
}

@media (min-width: 576px) {
  .font-xxxs {
    font-size: 0.25rem;
  }
  .font-xxs {
    font-size: 0.5rem;
  }
  .font-xs {
    font-size: 0.75rem;
  }
  .font-sm {
    font-size: 1rem;
  }
  .font-md {
    font-size: 1.25rem;
  }
  .font-lg {
    font-size: 1.5rem;
  }
  .font-xl {
    font-size: 1.75rem;
  }
  .font-xxl {
    font-size: 2.75rem;
  }
}

@media (min-width: 768px) {
  .font-xxxs {
    font-size: 0.5rem;
  }
  .font-xxs {
    font-size: 0.75rem;
  }
  .font-xs {
    font-size: 1rem;
  }
  .font-sm {
    font-size: 1.25rem;
  }
  .font-md {
    font-size: 1.5rem;
  }
  .font-lg {
    font-size: 1.75rem;
  }
  .font-xl {
    font-size: 2rem;
  }
  .font-xxl {
    font-size: 3rem;
  }
}

@media (min-width: 992px) {
  .font-xxxs {
    font-size: 0.75rem;
  }
  .font-xxs {
    font-size: 1rem;
  }
  .font-xs {
    font-size: 1.25rem;
  }
  .font-sm {
    font-size: 1.5rem;
  }
  .font-md {
    font-size: 1.75rem;
  }
  .font-lg {
    font-size: 2rem;
  }
  .font-xl {
    font-size: 2.25rem;
  }
  .font-xxl {
    font-size: 3.25rem;
  }
}

@media (min-width: 1200px) {
  .font-xxs {
    font-size: 1rem;
  }
  .font-xxs {
    font-size: 1.25rem;
  }
  .font-xs {
    font-size: 1.5rem;
  }
  .font-sm {
    font-size: 1.75rem;
  }
  .font-md {
    font-size: 2rem;
  }
  .font-lg {
    font-size: 2.25rem;
  }
  .font-xl {
    font-size: 2.5rem;
  }
  .font-xxl {
    font-size: 3.5rem;
  }
}
