body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Press Start 2P", cursive;
  background-color: #b3d1cd;
}

main {
  flex-grow: 1;
}

.code {
  background-color: #111d11;
  color: #66ff66;
}

.code-back {
  background-color: #66ff66;
}

.code-text {
  color: #111d11 !important;
}

.modern {
  font-family: "Amatic SC", cursive;
}

.retro {
  font-family: "Press Start 2P", cursive;
}

.square {
  border-radius: 0 !important;
}

.rounded {
  border-radius: 10px !important;
}

img.rounded {
  border-radius: 20px !important;
}

.underline {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.transition {
  transition: all 0.5s ease-in;
}

.hidden {
  display: none;
}

.disable {
  opacity: 50%;
}

.no-select {
  user-select: none;
}

.text-shadow {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.skip {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
}

.star {
  position: absolute;
  top: 5px;
  left: 5px;
  color: var(--warning);
}

.icon {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  color: var(--primary);
  transition: all 0.3s ease-in-out;
}

.card:hover {
  cursor: pointer;
}

.card:hover .icon {
  color: var(--info);
}

.contact {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.img-card {
  object-fit: cover;
  height: 25rem;
  width: 25rem;
}

.show {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.hide {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

@media (min-width: 0) {
  .font-xxs {
    font-size: 0.75rem;
  }
  .font-xs {
    font-size: 1rem;
  }
  .font-sm {
    font-size: 1.25rem;
  }
  .font-md {
    font-size: 1.5rem;
  }
  .font-lg {
    font-size: 1.75rem;
  }
  .font-xl {
    font-size: 1.75rem;
  }
  .font-xxl {
    font-size: 2.5rem;
  }
}

@media (min-width: 576px) {
  .font-xxs {
    font-size: 0.5rem;
  }
  .font-xs {
    font-size: 0.75rem;
  }
  .font-sm {
    font-size: 1rem;
  }
  .font-md {
    font-size: 1.25rem;
  }
  .font-lg {
    font-size: 1.5rem;
  }
  .font-xl {
    font-size: 1.75rem;
  }
  .font-xxl {
    font-size: 2.75rem;
  }
}

@media (min-width: 768px) {
  .font-xxs {
    font-size: 0.75rem;
  }
  .font-xs {
    font-size: 1rem;
  }
  .font-sm {
    font-size: 1.25rem;
  }
  .font-md {
    font-size: 1.5rem;
  }
  .font-lg {
    font-size: 1.75rem;
  }
  .font-xl {
    font-size: 2rem;
  }
  .font-xxl {
    font-size: 3rem;
  }
}

@media (min-width: 992px) {
  .font-xxs {
    font-size: 1rem;
  }
  .font-xs {
    font-size: 1.25rem;
  }
  .font-sm {
    font-size: 1.5rem;
  }
  .font-md {
    font-size: 1.75rem;
  }
  .font-lg {
    font-size: 2rem;
  }
  .font-xl {
    font-size: 2.25rem;
  }
  .font-xxl {
    font-size: 3.25rem;
  }
}

@media (min-width: 1200px) {
  .font-xxs {
    font-size: 1.25rem;
  }
  .font-xs {
    font-size: 1.5rem;
  }
  .font-sm {
    font-size: 1.75rem;
  }
  .font-md {
    font-size: 2rem;
  }
  .font-lg {
    font-size: 2.25rem;
  }
  .font-xl {
    font-size: 2.5rem;
  }
  .font-xxl {
    font-size: 3.5rem;
  }
}
